/* Empty. Add your own CSS if you like */

.color_blue {
    color: rgb(56, 126, 245) !important;
}

.bg_color_blue {
    background-color: rgb(56, 126, 245);
}

.select-body .week-name{
    text-align: center;
}

.select-head button{
    padding: 0 !important;
    width: 100%;
}

.ionic-datepicker .popup{
    width: 300px !important;
}

.ionic-datepicker .popup-body{
    padding: 0 !important;
    overflow:auto !important;
}

.no_padding {
    padding: 0;
}

.date_cell {
    padding: 0 !important;
    height: 30px;
    line-height: 30px;
}

.error_msg {
    color: #cc0000 !important;
    font-size: 12px;
}

.date_selected {
    background-color: rgba(56, 126, 245, 1);
}

.today {
    background-color: rgba(186, 186, 186, 1);
}